body{
    background-color: bisque;
    margin: 0;
    padding: 0;
}
.user{
    margin: 20px;
    padding: 10px;
    border-radius: 20px; 
}
.passport{
    width: 150px;
    height: 150px;
    border: 1px solid;
    border-radius: 50%;
    margin: 10px;
    overflow: hidden;
}
.passport img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.dar{
    margin: auto;
}
.passport:hover{
    cursor: pointer;
}

.header{
    background-color: black;
    height: 60px;
    position: relative;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
.header i{
    color: white;
    font-size: x-large;
    padding: 20px;
}
.admin-top{
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    margin: 10px;
    letter-spacing: 3px;
}
.admin-top p1{
    font-size: 30px;
}
a{
    text-decoration: none;
}
.overview{
    padding: 10px 40px 10px 30px;
    border-radius: 12px;
    margin: 20px;
    width: auto;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 0 15px rgb(64, 62, 62);
}
.admin-btn{
    padding: 20px;
    margin: 30px;
    background-color: grey;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 10px;
}
.overview-items:hover{
     transform: translateY(-5px);
    box-shadow: 0 10px 30px rgba(102, 126, 234, 0.2);
}
