body{
    background-color: bisque;
    margin: 0;
    padding: 0;
}
.user{
    margin: 20px;
    padding: 10px;
    border-radius: 20px; 
}
.passport{
    width: 150px;
    height: 150px;
    border: 1px solid;
    border-radius: 50%;
    margin: 10px;
    overflow: hidden;
}
.passport img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.dar{
    margin: auto;
}
.passport:hover{
    cursor: pointer;
}

.header{
    background-color: black;
    height: 60px;
    position: relative;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
.header i{
    color: white;
    font-size: x-large;
    padding: 20px;
}
.admin-top{
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    margin: 10px;
    letter-spacing: 3px;
}
.admin-top p1{
    font-size: 30px;
}
a{
    text-decoration: none;
}
.overview{
    padding: 10px 40px 10px 30px;
    border-radius: 12px;
    margin: 30px;
    margin-bottom: 50px;
    width: auto;
    margin-bottom: 80px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 0 15px rgb(222, 181, 181);
}
.admin-btn{
    padding: 20px;
    margin: 30px;
    background-color: grey;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 10px;
}
.overview-items:hover{
     transform: translateY(-5px);
    box-shadow: 0 10px 30px rgba(102, 126, 234, 0.2);
}
.overview-el{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 10px;
    padding: auto;
    margin-left: 30px;
    margin-bottom: 40px;
}
.overview-items{
    background-color: white;
    padding: 20px;
    margin: 10px;
    border-radius: 20px;
    display: flex;
    font-size: 30px;
    gap: 20px;
    color: white;
}
.adminoptions{
    color: black;
    border: 2px solid;
}
.adminoptions a{
    color: black;
}
.coloruser{
    background: linear-gradient(130deg, #98baef 0%, purple);

}
.purple{
    color: purple;
}
.blue{
    color: rgb(14, 14, 193);
}
.green{
    color: green;
}
.orange{
    color: orange;
}
.colorlost{
    background: linear-gradient(130deg, #e4f5c4 0%, green);
}
.colorfound{
    background: linear-gradient(130deg, #c4d8f5 0%, rgb(14, 14, 193));

}
.colorpend{
    background: linear-gradient(130deg, #ffeaa5 0%, orange);

}
.fig{
    display: flex;
    flex-direction: column;
    
}
.bottom-nav{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 65px;
    background: white;
    border-top: 1px solid #ddd;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-item{
    text-decoration: none;
    color: #555;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
}

.nav-item i{
    font-size: 20px;
    margin-bottom: 3px;
}

.nav-item.active{
    color: purple;
}
.top{
    padding: 3px;
}
.top input{
    padding: 15px;
    width: 45%;
    border-radius: 30px;
    margin-bottom: 30px; 
}
.top a{
    padding: 10px;
    border-radius: 15px;
    margin: 5px;
    background-color: white;
    border: none;
}
.top a.active{
    color: white;
    background-color: purple;
}
.top a:hover{
    cursor: pointer;
    background-color: #555;
    color: #98baef;
}

.itembox{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.items{
    background-color: white;
    padding: 10px;
    border: 10px solid ;
    border-radius: 15px;
    margin: 20px;
    width: 80%;
}
.flex{
    display: flex;
    justify-content: space-between;
}
.status{
    color: white;
    border-radius: 15px;
    padding: 0 20px;
    height: max-content;
    background-color: green;
}
.claimed{
    background-color: orange;
}
.item-action{
    border-top: 2px solid black;
    padding: 20px;
    
}
.item-action button{
    padding: 15px;
    border: none;
    border-radius: 15px;
}
.verify{
    color: white;
    background-color: purple;
}
.delete{
    color: red;
}

.faq-container{
padding:10px;
}

.faq-item{
background:white;
border-radius:10px;
margin-bottom:12px;
box-shadow:0 2px 8px rgba(38, 38, 38, 0.1);
overflow:hidden;
}

.faq-question{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px;
cursor:pointer;
font-weight:bold;
}


.faq-answer{
max-height:0;
overflow:hidden;
transition:0.3s;
font-size:14px;
display: flex;
color:#555;
}

.faq-item.active .faq-answer{
max-height:200px;
padding:10px;
}

.faq-item.active i{
transform:rotate(180deg);
}
.dare{
    background-color: beige;
    border-radius: 20px;
    overflow-x: auto;
    padding: 10px;
}
.dare button{
    padding: 13px;
    border: none;
    color: white;
}
.dare button{
    cursor: pointer;
}
.reject{
    background-color: red;
}
.accept{
    background-color: green;
}

.itembox-proof-items{
    margin: 10px;
    padding: 5px;
    border-radius: 20px;
    background-color: white;
}
form{
    padding: 20px;
}
form input{
    padding: 10px;
    background-color: beige;
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    flex-direction: column;
    border-radius: 0;
}
.prof-btn1, .prof-btn2{
    padding: 10px;
    color: white;
    background-color: green;
    justify-content: space-between;
    border: none;
    margin-left: 10px;

}
.prof-btn2{
    background-color: orange;
}

.prof-btn1, .prof-btn2:hover{
    cursor: pointer;
}