.top{
    background-color: beige;
    text-align: center;
    justify-content: center;
    margin: auto;
    height: 50%;
    padding: 30px;
    color: black;
}
.logo{
    margin: auto;
}
.mid-header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(42, 31, 31);
    color: beige;
    height: fit-content;
}
.mid{
    display: flex;
    justify-content: space-between;
    color: beige;
    
}
.mid a{
    display: block;
}
.mid-box{
    padding: 30px;
    text-align: justify;
    width: 40%;
    border-right: 2px solid beige;
}

