/* ================= PROFILE PAGE ================= */

.profile-card{
    width:700px;
    max-width:100%;
    margin:40px auto;
    background:#fff;
    border-radius:15px;
    padding:30px;
    display:flex;
    align-items:center;
    gap:40px;
    box-shadow:0 5px 20px rgba(0,0,0,.15);
}

.passport{
    flex-shrink:0;
    border: none;
    width: 100px;
    height: 100px;
}

.passport img{
    width:100%;
    height:100%;
    border-radius:50%;
    object-fit:cover;
    border: none;
}

.det{
    display:flex;
    flex-direction:column;
    gap:18px;
    width:100%;
}

.det span{
    background:#f8f4d7;
    padding:15px 18px;
    border-radius:8px;
    font-size:18px;
    font-weight:600;
    color:#4b0d0d;
}

.det-btn{
    display:flex;
    gap:20px;
    margin-top:15px;
}

.det-btn button{
    flex:1;
    padding:15px;
    border:none;
    border-radius:8px;
    background:#5b1111;
    color:#fff;
    font-size:16px;
    cursor:pointer;
    transition:.3s;
}

.det-btn button:hover{
    background:#7b1c1c;
    transform:translateY(-2px);
}

/* Mobile */

@media(max-width:768px){

.main-content{
    margin-left:0;
    padding:20px;
}

.profile-card{
    flex-direction:column;
    text-align:center;
    gap:20px;
}

.det{
    width:100%;
}

.det span{
    font-size:16px;
}



}