body{
    padding: 0%;
    margin: 0%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.header{
    margin: 0;
    background-color: black;
    width: 100%;
    max-width: auto;
    padding: 0;

}
.logo{
    width: 300px;
    position: absolute;
}

img{
    height: 30px;
}
.nav-bar{
    display: flex;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    padding-left: 30px;
}
.header2{
    height: 230px;
    max-width: 100%;
    background-image:url('/IMG-20251215-WA0024.jpg');
    border-bottom: 30px solid;
    background-position: center;
    background-size: cover;
    padding: 3px;
    margin: 0%;
    text-align: center;

}
p{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
}
h2{
    text-align: center;
    color: black;
    background-color: beige;
}
h3{
    color: beige;
    background-color: black;
    text-align: center;
    border-radius: 10px;
    width: fit-content;
    padding: 3px;
    justify-content: center;
    align-items: center;
    margin-left: 40%;

}
a{
    color: white;
    text-decoration: none;
}
.a2{
    color: black;
    text-decoration: none;
}
a:hover{
    color: aqua;
}

.footer{
    text-align: center;
    background-color: black;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 30px;
    padding-top: 30px;
    max-height: 100%;
}

.flex{
    display: flex;
    padding: 20px;
    margin: 30px;
    
}
p2{
    width: 100px;
}

p3{
    flex: 1 1 5%;
    font-size: 50px;
    padding: 10px;
}

.mid{
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0; top: 0;
  width: 100%; height: 100%;
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background: white;
  margin: 15% auto;
  padding: 20px;
  width: 300px;
  border-radius: 8px;
}

.close {
  float: right;
  cursor: pointer;
}

.fle{
    display: flex;
    justify-content: space-between;
    font-size: 11px;
    padding-bottom: 10px;
}
input{
    border: none;
    border-radius: 50px;
    padding: 10px;
    text-align: center;
    margin: 10px;
    display: flex;

}
.log{
    align-items: center;
    justify-content: center;
    background-color: beige;
    margin: 10px;
    width: fit-content;
    border-radius: 30px;
    padding: 30px;

}
button{
    color: black;
    background-color: beige;
    border: none;
    padding: 10px;
    border-radius: 10px;
}
button:hover{
    color: white;
    font-size: 15px;
    background-color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.btn2{
    margin-left: 40%;
    color: beige;
    background-color: black;
    border: none;
    padding: 10px;
    border-radius: 10px;
}
ul{
    color: white;
}