body{
    padding: 0;
    margin: 0;
    background-color: beige;
}
/*
.header{
    background-color: black;
    height: 60px;
    position: relative;
    color: white;
    display: flex;
    justify-content: space-between;
}*/
.faq-item{
background:beige;
border-radius:10px;
margin-bottom:12px;
box-shadow:0 2px 8px white;
overflow:hidden;
}

.faq-question{
display:flex;
justify-content:space-between;
align-items:center;
padding:16px;
cursor:pointer;
font-weight:bold;
}
.faq-question a{
    color: black;
    text-decoration: none;
}

.faq-question i{
transition:0.3s;
}

.faq-answer{
max-height:0;
overflow:hidden;
padding:0 16px;
transition:0.3s;
font-size:14px;
color:#555;
}

.faq-item.active .faq-answer{
max-height:200px;
padding:16px;
}

.faq-item.active i{
transform:rotate(360deg);
}
.center{
    justify-content: center;
    align-items: center;
}

.user{
    background-color: white;
    margin: 30px;
    padding: 20px;
    border-radius: 20px; 
}
.user-top{
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    margin: 20px;
    letter-spacing: 3px;
}
.admin-top p1{
    font-size: 30px;
}
a{
    text-decoration: none;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
}

.modal-content {
  background: #fff;
  width: 90%;
  max-width: 400px;
  margin: 10% auto;
  padding: 20px;
  border-radius: 12px;
}

.close {
  float: right;
  font-size: 22px;
  cursor: pointer;
}
.det{
  display: grid;
}
.det span{
  padding: 20px;
  color: black;
  margin: 10px;
  border-radius: 8px;
}
.det span:hover{
  background-color: rgba(207, 206, 206, 0.976);
  cursor: pointer;
}
.det button{
  padding: 10px;
  border: none;
  background-color: beige;

}

.verify-btn {
  background: purple;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
}

.submit-btn {
  background: green;
  color: white;
  padding: 10px;
  border: none;
  width: 100%;
  border-radius: 8px;
}
.rachael{
  background-color: #555;
}
.user-new{
  box-shadow: skyblue;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding: 30px;
}
.user-rhs{
  padding: 20px;
  width: fit-content;
  padding-top: 70px;

  
}